<div class="container-fluid">
  <div class="row footer-main">
    <div class="col-md-3 d-none d-sm-block">
      <div class="row">
        <div class="col-md-12">
          <span class="footer-title">Free Shipping</span>
        </div>
        <div class="col-md-12">
          <span class="footer-text">Get 2-day free shipping anywhere in North America.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-none d-sm-block">
      <div class="row">
        <div class="col-md-12">
          <span class="footer-title">2 years warranty</span>
        </div>
        <div class="col-md-12">
          <span class="footer-text">If anything goes wrong in the first two years, we'll replace it for free.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row ml-5">
        <div class="col-md-9 ml-1">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
              <span class="footer-cta-title">$295.95</span>
            </div>
            <div class="col-md-12 d-flex justify-content-end">
              <span class="footer-cta-text">Need financing? Learn more </span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn footer-cta-btn" >Buy now</button>
        </div>
      </div>
    </div>

  </div>
</div>
