@import "../../app.component.scss";

.footer-main {
  background-color: $color-bg-gray;
  border: 1px solid $color-border-gray-2;
  height: 152px;
  padding: 40px;
  .footer-title {
    font-size: 14px;
    font-weight: bold;
    color: $color-balck-metal;
  }
  .footer-text {
    font-size: 14px;
    color: $color-subtitle-gray;
  }
  .footer-cta-title {
    font-size: 27.648px;
    color: $color-balck-metal;
    font-weight: 700;
  }
  .footer-cta-text {
    font-size: 14px;
    font-weight: 400;
    color: $color-subtitle-gray;
  }
  .footer-cta-btn {
    height: 56px;
    width: 113px;
    background-color: $color-blue-active;
    color: $color-white;
    font-size: 16px;
  }
}
