<div class="container-fluid">
  <div class="row ml-5">
    <div class="col-md-6 mt-5 product-picture">
      <div class="row">
        <div class="col-md-12 main-picture">
          <img src="assets/product_1.png"  />
        </div>
        <div class="col-md-12 d-flex justify-content-center mt-2">
          <div class="col-md-4 secondary-picture active mr-2 ml-1">
            <img src="assets/product_1.png"  />
          </div>
          <div class="col-md-4 secondary-picture mr-2 ml-2">
            <img src="assets/product_2.png"  />
          </div>
          <div class="col-md-4 secondary-picture mr-2 ml-2">
            <img src="assets/product_3.png"   />
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center mt-5 product-main-features">
          <div class="col-md-4 d-flex justify-content-center">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center mb-3">
                <img src="assets/icon_2.png" />
              </div>
              <br>  
              <div class="col-md-12 d-flex justify-content-center">
                <span class="feature-text">Customizable Touch Controls</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center mb-3">
                <img src="assets/icon_3.png" />
              </div>
              <br>  
              <div class="col-md-12 d-flex justify-content-center">
                <span class="feature-text">Built-in equalizer</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center mb-3">
                <img src="assets/icon_1.png" />
              </div>
              <br>  
              <div class="col-md-12 d-flex justify-content-center feature-text">
                <span class="feature-text">Active Noise Cancellation</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6 product-description">
      <div class="row ml-2 mr-2">
        <div class="col-md-12">
          <span class="text-muted subtitle">STARTING AT</span>
          <h1 class="title">$295.95</h1>
        </div>
        <div class="col-md-12 mt-3">
          <div class="row">
            <div class="col-md-2 text-dark">
              <strong class="menu-title menu-title-active"> Overview</strong>
            </div>
            <div class="col-md-2 text-muted">
              <strong class="menu-title">Features</strong> 
            </div>
            <div class="col-md-4 text-muted">
              <strong class="menu-title">What's in the box?</strong>
            </div>
            
            <div class="col-md-12 mt-3 text-justify pr-5 product-description-text" >
              <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
            </div>

            <div class="col-md-12">
              <span class="menu-title-2">Choose your finish.</span>
            </div>
            <div class="col-md-5 rounded ml-3 mr-3 mt-3 feature-box">
              <div class="row">
                <div class="col-md-12">
                  <span class="feature-box-title">Ivory White</span>
                </div>
                <div class="col-md-12 feature-box-text">
                  <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-5 ml-3 mr-3 mt-3 feature-box">
              <div class="row">
                <div class="col-md-12">
                  <span class="feature-box-title">Matte Black</span>
                </div>
                <div class="col-md-12 feature-box-text">
                  <p>Of all of the celestial bodies that capture our attention and fascination as astronomers.
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-md-12 mt-5">
              <span class="subtitle-2">Would you like to add extended warranty coverage?.</span>
            </div>
            <div class="col-md-12 mt-3 ml-3">
              <div class="row">
                <div class="col-md-11 warranty-box warranty-box-active">
                  <span class="warranty-title">2 years coveage</span>
                  <p class="text-muted warranty-text">For the past 75 years, Sennheiser has put sound first.</p>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-3 ml-3 mb-3">
              <div class="row">
                <div class="col-md-11 warranty-box">
                  <div class="row">
                    <div class="col-md-10">
                      <span class="warranty-title">3 years coveage</span>
                      <p class="text-muted warranty-text">For the past 75 years, Sennheiser has put sound first.</p>
                    </div>
                    <div class="col-md-2 d-flex text-right align-items-center warranty-price">
                      + $75
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>