$color-black: #000000;
$color-balck-metal: #111111;
$color-border-gray: #eeeff2;
$color-border-gray-2: #d2d2d7;
$color-subtitle-gray: #6b7280;
$color-blue-active: #1e96d4;
$color-bg-gray: #f5f5f7;
$color-white: #ffffff;
